*{
    margin: 50;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


h2{

  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: red;
  
}

#wrapper {
    width: 52%;
    max-width: 964px;
    position: relative;
  }
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: relative;
    left: 370px;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 80%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
    top: 80%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  #wrapper_trending {
    width: 52%;
    max-width: 964px;
    position: relative;
  }
  
  #carousel_trending {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: relative;
    left: 350px;
  }
  
  #carousel_trending::-webkit-scrollbar {
    height: 0;
  }
  
  #prev_trending,
  #next_trending {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev_trending {
    top: 110%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next_trending {
    top: 110%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content_trending {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  #wrapper_top_rated {
    width: 52%;
    max-width: 964px;
    position: relative;
  }
  
  #carousel_top_rated {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: relative;
    left: 350px;
  }
  
  #carousel_top_rated::-webkit-scrollbar {
    height: 0;
  }
  
  #prev_top_rated,
  #next_top_rated {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev_top_rated {
    top: 135%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next_top_rated {
    top: 135%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content_top_rated {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }


.row__poster{
    width: 160%;
    height: 120px;
    margin-right: 0px;
    border-radius: 4%;
    transition: transform 450ms;
}

.row__posters{
  width: 170px;
  height: 120px;
  background: rgb(238, 233, 233);
  margin-right: 10px;
  transition: transform 450ms;

}

.row__poster:hover{
    transform: scale(1.08);
}


.row__posterLarge{
  height: 130px;
  width: 180px;
  max-height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
}

.row{
    color: blanchedalmond;
    margin-left: 20px;
}

.item {
    width: 140px;
    height: 170px;
    background: rgb(0, 0, 0);
    margin-right: 0px;
    transition: transform 450ms;
    border-radius: 3%;
  }

.banner{
    background-image: url('/assets/banner.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit:contain;
    height: 448px;
}

.banner__contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0,8rem;
    max-width: 360px;
    height: 180;
}

.banner__button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover{
    color: black;
    background-color: whitesmoke;
    transition: 0.2s;
}

.banner--fadeBottom{
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}



.nav_avatar {
    width: 30px;
    object-fit: contain;
}

.nav {
    position: fixed;
    top: O;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5;
}

.nav__black{
    background-color: #111;
}